###############################################################################
# Files to ignore
###############################################################################
*.env
*.ipynb_checkpoints/**
*.lock